{% extends './layouts/default.twig' %}

{% set title     = 'Welcome' %}
{% set home      = 'true'    %}
{% set id        = 'home'    %}
{% set data_page = 'home'    %}

{% block body %}
<h1>Hello world.</h1>
{% endblock %}
